*{
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    color: white;
    background-color: black;

}

.logo{
    color: red;
    padding-left: 1rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-right: 1rem;
}

Body {
    background-image: url('contact.png');
    background-size: cover;
    height: 100vh;
    overflow: hidden;              

}

.child{
    color: white;
    text-decoration: none;
}

.child:hover{
    cursor: pointer;
    color: aquamarine;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.title {
    display: flex;
    padding: 2rem;
    height: 10rem;
    width: 95%;
    /* align-items: center; */
    justify-content: center;
}

.login {
    display: flex;
    /* background-color: white; */
    height: 12rem;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
